* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  font-weight: bold;
  font-family: sans-serif;
  font-size: large;
  text-decoration: none;
  color: #020202;
}

a:hover {
  cursor: pointer;
}

/* ν—¤λ” */
.header {
  position: sticky;
  top: 0;
  height: 70px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  z-index: 1;
  background: #ffffffc5;
  margin-bottom: 50px;
  text-align: center;
}

.profile {
  margin-left: 50px;
  float: left;
  display: inline;
}

.profile_img {
  margin: 5px 5px;
  width: 150px;
  height: 80px;
}

.header-nav {
  float: right;
}

.header-nav li {
  display: inline;
  margin-right: 20px;
  height: 70px;
  line-height: 70px;
}

.header_main_menu li {
  display: inline;
  margin-right: 8%;
  height: 70px;
  line-height: 70px;
}

.header_nav_menuitem:last-child {
  margin-right: 10px;
}

/* ν‘Έν„° */
footer {
  position: fixed;
  bottom: 0;
  height: 70px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  z-index: 1;
  background: #ffffff3a;
  text-align: center;
}

footer > ul > li {
  display: inline-block;
  margin-right: 20px;
  height: 50px;
  line-height: 70px;
}
